@page "{id?}"
@model Projektor.WebApp.Pages.ProjectsModel
@{
    Layout = "_Layout";
}

<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            @for (var i = 0; i < Model.Projects.Count; i++)
            {
                var project = Model.Projects[i];
                <div class="item">
                    <i class="ui icon sync alternate"></i>
                    <div class="content">
                        <a class="header" asp-page="Projects" asp-route-id="@i">@project.Title</a>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.ShowProject)
    {
        <div class="twelve wide column">
            <vc:project-card project="@Model.Project"></vc:project-card>
        </div>
    }
</div>